@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300;1,400;1,500&family=Roboto:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: white;
  overflow-x: hidden;
}

.light {
  background: white;
}

.dark {
  background: #26282c;
}

::-webkit-scrollbar {
  width: 1px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
